In [3]:
import pandas as pd

# Cargar el archivo
df = pd.read_csv('D:/proyecto_de_herramientas/vehicles-analysis/vehicles_us.csv')

# Verificar las primeras filas
print(df.head())

# Verificar valores nulos
print(df.isnull().sum())

# Verificar tipos de datos
print(df.dtypes)
print('hol1')

ModuleNotFoundError: No module named 'pandas'

In [1]:
df = df.dropna()  # Eliminar filas con valores nulos
df['price'] = pd.to_numeric(df['price'], errors='coerce')
df['model_year'] = pd.to_numeric(df['model_year'], errors='coerce')

NameError: name 'df' is not defined

In [3]:
# Información general del dataset
df.info()

# Estadísticas descriptivas
df.describe()

# Verificar valores nulos
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 14852 entries, 5 to 51515
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         14852 non-null  int64
 1   model_year    14852 non-null  float64
 2   model         14852 non-null  object
 3   condition     14852 non-null  object
 4   cylinders     14852 non-null  float64
 5   fuel          14852 non-null  object
 6   odometer      14852 non-null  float64
 7   transmission  14852 non-null  object
 8   type          14852 non-null  object
 9   paint_color   14852 non-null  object
 10  is_4wd        14852 non-null  float64
 11  date_posted   14852 non-null  object
 12  days_listed   14852 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 1.6+ MB

price           0
model_year      0
model           0
condition       0
cylinders       0
fuel            0
odometer        0
transmission    0
type            0
paint_color     0
is_4wd          0
date_posted     0
days_listed     0
dtype: int64

In [5]:
import pandas as pd

# Cargar el conjunto de datos
df = pd.read_csv('D:/proyecto_de_herramientas/vehicles-analysis/vehicles_us.csv')

# Mostrar las primeras filas
df.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28